* {
  margin: 0;
  padding: 0;
}

$primaryColorOne: #df1c1d;
$primaryColorTwo: #f8f8f8;

body {
  //background image will be the small pokeball
  font-family: poppins, sans-serif;
  background-image: url("./img/pokeball.png");
  background-repeat: 0 0;
  background-color: $primaryColorTwo;
  display: flex;
  animation: slide 20s linear infinite;
  overflow: hidden;
  font-size: 1.2em;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 350px -400px;
  }
}

#mainDisplay {
  //the background color and pokeball will be set by javascript
  width: 50vw;
  height: 100vh;
  .bigPokeball {
    width: 50vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(./img/bigPokeball.png);
    animation: pokeballSpin 15s linear infinite;
  }
}

#mainInfo {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  #lightData {
    width: 50vw;
    .pokemonInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50vw;
      height: 100vh;
      color: $primaryColorTwo;
      text-transform: capitalize;
      #pokemonImage {
        width: 60%;
      }
      .typeWeightDetails {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .height,
        .weight {
          text-transform: lowercase;
        }
      }
    }
  }
  #mainData {
    .typeWeightDetails {
      display: none;
    }
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    #stats {
      list-style-type: none;
    }
    .abilities {
      text-transform: capitalize;
    }
    #nav {
      width: 100%;
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .btns {
        width: 35%;
        height: 180%;
        background-color: $primaryColorOne;
        color: $primaryColorTwo;
        font-family: poppins, sans-serif;
        border-radius: 5px;
        cursor: pointer;
        border: none;
      }
      #prevNextBtn {
        display: flex;
        justify-content: space-around;
      }
      #searchPokemon {
        display: flex;
        justify-content: space-around;
        width: 100%;
        #searchInput {
          height: 180%;
          width: 50%;
          font-family: poppins, sans-serif;
          border-radius: 5px;
          border: 1px solid black;
          &:focus {
            border: 1px solid $primaryColorOne;
          }
        }
      }
    }
  }
}

@keyframes pokeballSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  #mainDisplay {
    width: 100vw;
    height: 80vh;
    .bigPokeball {
      width: 100vw;
      height: 50vh;
      background-size: contain;
      background-position: center;
    }
  }

  #mainInfo {
    flex-direction: column;
    #lightData {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 40vh;
      width: 100vw;
      font-size: 0.75em;
      #typeWeightDetailsOne {
        display: none;
      }
    }
    #mainData {
      width: 100vw;
      height: 60vh;
      color: $primaryColorTwo;
      font-size: 0.8em;
      justify-content: space-around;
      .dataStructure {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        height: 33vh;
        .typeWeightDetails {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .height,
          .weight {
            text-transform: lowercase;
          }
        }
        #baseStats {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
        }
      }
      #abilitiesBigView {
        display: none;
      }
    }
  }
}
