* {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins, sans-serif;
  background-image: url("./img/pokeball.png");
  background-repeat: 0 0;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
  overflow: hidden;
  font-size: 1.2em;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 350px -400px;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 350px -400px;
  }
}

#mainDisplay {
  width: 50vw;
  height: 100vh;
}

#mainDisplay .bigPokeball {
  width: 50vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(./img/bigPokeball.png);
  -webkit-animation: pokeballSpin 15s linear infinite;
          animation: pokeballSpin 15s linear infinite;
}

#mainInfo {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainInfo #lightData {
  width: 50vw;
}

#mainInfo #lightData .pokemonInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 100vh;
  color: #f8f8f8;
  text-transform: capitalize;
}

#mainInfo #lightData .pokemonInfo #pokemonImage {
  width: 60%;
}

#mainInfo #lightData .pokemonInfo #typeWeightDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#mainInfo #lightData .pokemonInfo #typeWeightDetails #height,
#mainInfo #lightData .pokemonInfo #typeWeightDetails #weight {
  text-transform: lowercase;
}

#mainInfo #mainData {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainInfo #mainData #stats {
  list-style-type: none;
}

#mainInfo #mainData #abilities {
  text-transform: capitalize;
}

#mainInfo #mainData #nav {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#mainInfo #mainData #nav .btns {
  width: 35%;
  height: 180%;
  background-color: #df1c1d;
  color: #f8f8f8;
  font-family: poppins, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#mainInfo #mainData #nav #prevNextBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#mainInfo #mainData #nav #searchPokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#mainInfo #mainData #nav #searchPokemon #searchInput {
  height: 180%;
  width: 50%;
  font-family: poppins, sans-serif;
  border-radius: 5px;
  border: 1px solid black;
}

#mainInfo #mainData #nav #searchPokemon #searchInput:focus {
  border: 1px solid #df1c1d;
}

@-webkit-keyframes pokeballSpin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes pokeballSpin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media all and (max-width: 600px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mainDisplay {
    width: 100vw;
    height: 80vh;
  }
  #mainDisplay .bigPokeball {
    width: 100vw;
    height: 75vh;
    background-size: contain;
    background-position: center;
  }
  #mainInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mainInfo #lightData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
    width: 100vw;
    font-size: 0.75em;
  }
  #mainInfo #mainData {
    width: 100vw;
    height: 50vh;
    color: #f8f8f8;
    font-size: 0.75em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */